{# Vars #}

{% def preload = false %}
{% def url = '' %} {# for file #}
{% def src = '' %} {# for youtube / vimeo #}
{% def platform = false %} {# youtube / vimeo #}
{% def ratio = 1 %}
{% def caption = false %}
{% def fit = false %}
{% def class = '' %}
{% def autoplay = false %}
{% def muted = autoplay %}
{% def loop = true %}
{% def has_controls = false %}
{% def cover = false %}

{# Template #}

{% if url or src %}
	<div class="video {{ class }}"
		ratio="{{ ratio }}"
		is-lazy="{{ preload }}"
		url="{{ url|upload }}"
		src="{{ src }}"
		type="video/mp4"
		autoplay="{{ autoplay }}"
		loop="{{ loop }}"
		muted="{{ muted }}"
		controls="{{ has_controls }}"
		{{ attr('fit', fit) }}
		{{ attr('platform', platform) }}>
		{% if cover %}
			{% include 'atoms/media' with cover|merge({
				class: 'cover',
				cursor: 'pointer'
			}) %}
		{% endif %}

		{% if url %}
			<video class="source"
				playsinline
				{{ attr('autoplay', autoplay) }}
				{{ attr('muted', muted) }}
				{{ attr('loop', loop) }}></video>
		{% endif %}

		{% if src %}
			<div class="source"></div>
		{% endif %}

		<div class="overlay" s-cursor="pointer"></div>

		{% if has_controls %}
			<div class="controls">
				<progress class="progress" max="100" value="70"></progress>
			</div>
		{% endif %}

		{% include 'atoms/icon-button' with {
			class: 'play',
			label: 'Lecture'|translate,
			icon: 'icons/play'
		} %}
	</div>
{% endif %}
