{# Vars #}

{% def class = '' %}
{% def label = '' %}
{% def name = 'file' %}
{% def is_required = false %}
{% def placeholder = 'Upload files' %}
{% def multiple = false %}
{% def max_size = 3 %} {# MB #}
{% def accept = ['.jpg', '.png', '.gif', '.pdf'] %}

{# File types https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#limiting_accepted_file_types #}

{# Template #}

<v-atom class="file_upload" {{ attr('v-multiple', multiple|bool) }}>
	<template class="template">
		<span class="title"></span>
		<button class="remove" aria-label="Remove" type="button">
			{% include 'atoms/icon' with {
				class: 'icon',
				icon: 'defaults/close'
			} only %}
		</button>
	</template>

	<label>
		{% if label %}
			<span class="label">
				{{ label }}
				{% if is_required %}
					<sup>*</sup>
				{% endif %}
			</span>
		{% endif %}

		<div class="zone">
			<input class="upload"
				type="file"
				multiple="{{ multiple }}"
				accept="{{ accept|join(',') }}"
				max="{{ max_size * 1000000 }}"
				hidden />
			{% include 'atoms/button' with {
				title: 'Upload file',
				class: 'button',
				type: 'button'
			} %}
		</div>
	</label>

	<input class="input"
		hidden
		name="{{ name }}"
		type="file"
		multiple="{{ multiple }}" />
	{# <span class="placeholder">{{ placeholder }}</span> #}

	<div class="items"></div>
</v-atom>
