{# Vars #}

{% def title = '' %}
{% def essentiel = '' %}
{% def analytics = '' %}
{% def ads = '' %}

{# Template #}

{% if false %}
	{% block choice %}
		<div class="choice">
			<label class="label">
				<input type="checkbox"
					name="{{ choice.name }}"
					{{ attr('disabled', choice.is_disabled) }}
					{{ attr('checked', choice.is_checked) }} />
				<div class="check">
					{{ svg('assets/svgs/icons/check.svg') }}
				</div>
				<span class="title" v-font="title_2">{{ choice.title }}</span>
			</label>
			<p v-font="label_3">
				{{ choice.text|strip }}
			</p>
		</div>
	{% endblock %}
{% endif %}

<div class="cookie_options" inert>
	{# <button class="close" aria-label="{{ 'Fermer'|translate }}"></button> #}

	<div v-scroll class="content">
		<div class="choices">
			{% set choice = {
				name: 'essentiel',
				title: 'Essentiel'|translate,
				text: essentiel,
				is_disabled: true,
				is_checked: true
			} %}
			{{ block('choice') }}

			{% set choice = {
				name: 'analytics',
				title: "Mesure d'audience"|translate,
				text: analytics
			} %}
			{{ block('choice') }}

			{% set choice = {
				name: 'ads',
				title: 'Publicité'|translate,
				text: ads
			} %}
			{{ block('choice') }}
		</div>

		<div class="buttons">
			{% include 'atoms/button' with {
				class: 'refuse',
				title: 'Tout refuser'|translate,
				icon: 'icons/arrow-right-up'
			} %}
			{% include 'atoms/button' with {
				class: 'accept',
				title: 'Valider ce choix'|translate,
				icon: 'icons/arrow-right-up'
			} %}
		</div>
	</div>
</div>
