{# Vars #}

{% def class = '' %}
{% def text = '' %}
{% def min = 0 %}
{% def max = 1 %}
{% def step = 0.1 %}
{% def value = 0.5 %}
{% def name = false %}

{# Template #}

<div class="range {{ class }}">
	<input class="input"
		type="range"
		{{ attr('name', name) }}
		{{ attr('min', min) }}
		{{ attr('max', max) }}
		{{ attr('value', value) }}
		{{ attr('step', step) }} />
	<div class="less"></div>
	<div class="drag">
		{{ text }}
	</div>
	<div class="more"></div>
</div>
