{# Vars #}

{% def id = false %}
{% def class = '' %}
{% def label = false %}
{% def name = false %}
{% def max = false %}
{% def rows = 2 %}
{% def is_disabled = false %}
{% def is_readonly = false %}
{% def is_required = false %}

{# Template #}

<label class="textarea"
	{{ attr('disabled', is_disabled) }}
	{{ attr('v-anim', anim) }}
	{{ attr('v-preset', preset) }}>
	<span class="label">
		{{ label }} {% if is_required %}
			<sup>*</sup>
		{% endif %}
	</span>

	<div class="field">
		<textarea class="area"
			{{ attr('id', id) }}
			{{ attr('name', name) }}
			{{ attr('rows', rows) }}
			{{ attr('disabled', is_disabled) }}
			{{ attr('readonly', is_readonly) }}
			{{ attr('required', is_required) }}></textarea>
		{% if max %}
			<span class="counter">
				<span class="count"></span>
				<span class="max"></span>
			</span>
		{% endif %}
	</div>
</label>
