{# Vars #}

{% def name = '' %}
{% def label = '' %}
{% def value = '' %}
{% def anim = false %}
{% def delay = false %}
{% def attr = '' %}
{% def is_checked = false %}
{% def is_disabled = false %}
{% def is_required = false %}
{% def is_readonly = false %}

{# Template #}

<label class="radio {{ class }}"
	{{ attr('v-anim', anim) }}
	{{ attr('data-delay', delay) }}
	s-cursor="pointer">
	<input type="radio"
		name="{{ name }}"
		value="{{ value }}"
		{{ attr('checked', is_checked) }}
		{{ attr('disabled', is_disabled) }}
		{{ attr('required', is_required) }}
		{{ attr('readonly', is_readonly) }}
		{{ attr|default('') }} />

	<span class="tick"></span>

	<span class="label" v-font="label_1">
		{% block label %}
			<span>{{ label }}</span>
		{% endblock %}
	</span>
</label>
