{# Vars #}

{% def class = '' %}
{% def field_class = false %}
{% def label = '' %}
{% def name = false %}
{% def value = false %}
{% def min = false %}
{% def max = false %}
{% def type = 'text' %}
{% def placeholder = '' %}
{% def anim = false %}
{% def delay = false %}
{% def is_required = false %}
{% def is_disabled = false %}
{% def is_readonly = false %}
{% def autocomplete = false %}
{% def preset = false %}

{# Template #}

<label class="input {{ class }}"
	{{ attr('v-anim', anim) }}
	{{ attr('v-preset', preset) }}>
	{% if label %}
		<span class="label">
			{{ label }}
			{% if is_required %}
				<sup>*</sup>
			{% endif %}
		</span>
	{% endif %}

	<div class="field">
		{% block before %}
			{# Before #}
		{% endblock %}

		<input class="area"
			type="{{ type }}"
			{{ attr('class', field_class) }}
			{{ attr('value', value) }}
			{{ attr('min', min) }}
			{{ attr('max', max) }}
			{{ attr('name', name) }}
			{{ attr('placeholder', placeholder) }}
			{{ attr('required', is_required) }}
			{{ attr('disabled', is_disabled) }}
			{{ attr('readonly', is_readonly) }}
			{{ attr('autocomplete', autocomplete) }} />

		{% block after %}
			{# After #}
		{% endblock %}
	</div>
</label>
