{# Vars #}

{% def class = '' %}
{% def label = '' %}
{% def name = '' %}
{% def value = 1 %}
{% def anim = false %}
{% def delay = false %}
{% def is_required = false %}
{% def autocomplete = false %}
{% def min = 1 %}
{% def max = null %}
{% def font = 'body_4' %}

{# Template #}

<div class="quantity {{ class }}"
	{{ attr('v-anim', anim) }}
	{{ attr('data-delay', delay) }}>
	<button class="less" aria-label="{{ 'Moins'|translate }}" type="button">
		-
	</button>

	<input name="{{ name }}"
		class="field"
		type="number"
		v-font="{{ font }}"
		readonly
		{{ attr('id', id) }}
		{{ attr('value', value) }}
		{{ attr('min', min) }}
		{{ attr('max', max) }}
		{{ attr('required', is_required) }}
		{{ attr('autocomplete', autocomplete) }} />

	<button class="more" aria-label="{{ 'Plus'|translate }}" type="button">
		+
	</button>
</div>
