{# Vars #}

{% def src = 'https://picsum.photos/800/800.jpg?random=' ~ random(1084) %}
{% def srcset = '' %}
{% def ratio = 1 %}
{% def caption = false %}
{% def fit = false %}
{% def width = 0 %}
{% def height = 0 %}
{% def masked = false %}
{% def anim = false %}
{% def loading = 'lazy' %}
{% def fetchpriority = 'auto' %}
{% def retina = false %}

{# Template #}

<div class="image {{ class }}"
	ratio="{{ ratio }}"
	{{ attr('v-anim', anim) }}
	{{ attr('load-anim', load_anim) }}
	{{ attr('fit', fit) }}
	{{ attr('preload', preload|bool) }}
	{{ attr('retina', retina|bool) }}>
	<span class="container">
		{% if '.svg' in src %}
			<img class="source"
				src="{{ src|upload }}"
				loading="{{ loading }}"
				fetchpriority="{{ fetchpriority }}"
				alt="" />
		{% else %}
			<img class="source"
				src="{{ src|upload }}"
				srcset="{{ srcset|upload }}"
				width="{{ width }}"
				height="{{ height }}"
				loading="{{ loading }}"
				fetchpriority="{{ fetchpriority }}"
				alt="" />
		{% endif %}

		{% if caption %}
			<span>{{ caption }}</span>
		{% endif %}
	</span>
</div>
